<div class="login-page">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="doLogin()">
        <mat-form-field>
          <input matInput
                 type="email"
                 placeholder="Email"
                 autocomplete="email"
                 [formControl]="emailControl"
          />
          <mat-error *ngIf="emailControl.hasError('required')">Please fill in the email!</mat-error>
          <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
            Please enter a valid email!
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput
                 type="password"
                 placeholder="Password"
                 autocomplete="current-password"
                 [formControl]="passwordControl"
          />
          <mat-error *ngIf="passwordControl.hasError('required')">Please fill in the password!</mat-error>
        </mat-form-field>

        <div class="form-actions">
          <spt-action-button class="login-button"
                             variety="raised"
                             color="primary"
                             [loading]="loginLoading">
            Login
          </spt-action-button>
          <spt-action-button [loading]="registerLoading"
                             (clickEmitter)="doRegister()">
            Create an account
          </spt-action-button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
