:host,
.login-page {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
}

.login-page {
  justify-content: center;
  align-items: center;
}

.mat-card {
  width: 400px;

  .mat-form-field {
    width: 100%;
  }

  .form-actions {
    display: flex;
    flex-direction: row;
    flex: 1;

    margin-top: 8px;
    align-items: center;

    spt-action-button {
      flex: 1;
    }

    .login-button {
      margin-right: 8px;
    }
  }
}
