<nav>
  <mat-toolbar class="app-navigation">
    <span class="logo" routerLink="/">🔥 Spots Map</span>

    <div class="nav-actions">
      <a mat-button [routerLink]="['/auth', 'login']" *ngIf="!(authService.isLoggedIn$ | async); else loggedInView">
        Login
      </a>

      <ng-template #loggedInView>
        <span class="user-email">
          <i class="far fa-user"></i>
          {{ (authService.currentUser$ | async).email }}
        </span>
        <button mat-button (click)="authService.logout()">Logout</button>
      </ng-template>
    </div>
  </mat-toolbar>
</nav>
<main class="app-content">
  <ng-content></ng-content>
</main>
