:host,
.app-content {
  display: flex;
  flex-direction: column;
  flex: 1;

  height: 100%;
}

.app-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #212121;
  color: #fafafa;

  .logo {
    cursor: pointer;
    outline: none;
  }

  .user-email {
    font-size: 14px;
  }
}

.app-content {
  background-color: #f4f4f4;
}
