/* You can add global styles to this file, and also import other style files */

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
}

.spin {
  animation: spin 2s infinite linear
}

@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}
