<ng-container [ngSwitch]="variety">
  <button mat-button
          *ngSwitchCase="'basic'"
          [type]="type"
          [color]="color"
          (click)="clickEmitter.emit()"
          [disabled]="disabled || loading">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </button>

  <button mat-raised-button
          *ngSwitchCase="'raised'"
          [type]="type"
          [color]="color"
          (click)="clickEmitter.emit()"
          [disabled]="disabled || loading">
    <ng-container [ngTemplateOutlet]="buttonContent"></ng-container>
  </button>
</ng-container>

<ng-template #buttonContent>
  <mat-icon *ngIf="loading; else iconView" class="spin">cached</mat-icon>
  <ng-template #iconView>
    <mat-icon *ngIf="matIcon">{{matIcon}}</mat-icon>
    <i *ngIf="faIcon" [ngClass]="faIcon"></i>
  </ng-template>
  <ng-content></ng-content>
</ng-template>
